Repository encheres-immo/auction-widget, pull requests merged in 2025-01, with the labels that each got.

#33 fix(BidHistory): display connected user's anonymous id
  .changeset/new-pugs-clap.md
  packages/auction-widget/src/App.tsx
Labels: bug, P2 - high, pkg:auction-widget

#36 feat: `bid_placed` `new_bid` and `register` events
  .changeset/tiny-cows-double.md
  .changeset/tiny-cows-single.md
  packages/auction-widget/README.md
  packages/auction-widget/src/App.tsx
  packages/auction-widget/src/AuctionInfos.tsx
  packages/auction-widget/src/BidForm.tsx
  packages/auction-widget/src/BidHistory.tsx
  packages/auction-widget/src/ParticipateBox.tsx
  packages/auction-widget/tests/BidForm.test.tsx
  packages/auction-widget/tests/BidHistory.test.tsx
  packages/auction-widget/tests/ParticipateBox.test.tsx
  packages/auction-widget/tests/test-utils.ts
  packages/widget-client/src/auth.ts
  packages/widget-client/types.ts
Labels: enhancement, P3 - normal, pkg:auction-widget, pkg:widget-client

#43 fix(icons): drop font awesome for svg spritesheet
  .changeset/strong-spiders-cry.md
  example/src/pages/index.astro
  packages/auction-widget/README.md
  packages/auction-widget/assets/app.css
  packages/auction-widget/esbuild.config.mjs
  packages/auction-widget/src/App.tsx
  packages/auction-widget/src/BidForm.tsx
  packages/auction-widget/src/BidHistory.tsx
  packages/auction-widget/src/CenteredModal.tsx
  packages/auction-widget/src/ParticipateBox.tsx
  packages/auction-widget/src/Spritesheet.tsx
Labels: pkg:auction-widget, example

#45 feat(style): reset for host page and browsers
  .changeset/green-files-hammer.md
  packages/auction-widget/assets/app.css
  packages/auction-widget/src/CenteredModal.tsx
Labels: pkg:auction-widget

#46 fix(BidForm): highest bid can be null
  .changeset/olive-parents-give.md
  .changeset/olive-parents-take.md
  packages/auction-widget/src/AuctionInfos.tsx
  packages/auction-widget/src/BidForm.tsx
  packages/auction-widget/tests/BidForm.test.tsx
  packages/widget-client/src/auctions.ts
  packages/widget-client/tests/auction.test.ts
Labels: pkg:auction-widget, pkg:widget-client

#49 fix(BidForm): no NaN value
  .changeset/odd-impalas-heal.md
  .github/ISSUE_TEMPLATE/01-bug-report.yml
  packages/auction-widget/README.md
  packages/auction-widget/assets/app.css
  packages/auction-widget/src/BidForm.tsx
  packages/auction-widget/tests/BidForm.test.tsx
Labels: devops, pkg:auction-widget

#56 feat(auth): reuse access token
  .changeset/chilled-books-dont-sniff.md
  .changeset/chilled-books-sniff.md
  packages/auction-widget/src/App.tsx
  packages/auction-widget/src/ParticipateBox.tsx
  packages/widget-client/index.ts
  packages/widget-client/src/auctions.ts
  packages/widget-client/src/auth.ts
  packages/widget-client/src/bids.ts
  packages/widget-client/tests/auction.test.ts
  packages/widget-client/tests/auth.test.ts
  packages/widget-client/tests/bids.test.ts
Labels: pkg:auction-widget, pkg:widget-client

#57 feat(BidForm): dynamically update visibility
  .changeset/calm-buses-try.md
  packages/auction-widget/src/BidForm.tsx
  packages/auction-widget/tests/BidForm.test.tsx
Labels: pkg:auction-widget

#58 feat: allow-user-registration allows to create an account
  .changeset/mean-planets-filter.md
  .changeset/mean-planets-sort.md
  packages/auction-widget/README.md
  packages/auction-widget/src/ParticipateBox.tsx
  packages/auction-widget/tests/ParticipateBox.test.tsx
  packages/widget-client/index.ts
  packages/widget-client/src/auth.ts
  pnpm-lock.yaml
Labels: pkg:auction-widget, pkg:widget-client

#59 misc: source map & npm files
  .changeset/famous-lies-jog.md
  packages/auction-widget/esbuild.config.mjs
  packages/auction-widget/package.json
  packages/auction-widget/tsconfig.json
  packages/widget-client/package.json
  packages/widget-client/tsconfig.json
Labels: devops, pkg:auction-widget, pkg:widget-client
